body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: gold;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    overflow: hidden;
    background-color:#bbb;
}

.block {
    flex-grow: 1;  
}

.buttons {
    width: 75%;
    margin-top: 100px;
}

#new-grid {
    float: left;
    height: 100px;
    width: 100px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
}

#rainbow {
    float: right;
    height: 100px;
    width: 100px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
}